<div class="side-menu">
    <div class="menu-bar">
        <div class="company-box">
            <img class="company-logo" src="~/images/Company_Logo.svg" alt="Company_Logo" />
            <h4>alpah</h4>
        </div>

        <button type="button" class="btn btn-blue">
            <img src="~/images/Suitcase.svg" alt="Suitcase" />
            <h5>Projects</h5>
        </button>
    </div>
</div>
